main.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  margin-top: 150px;

  font-family: "Prata";
}

main.container span {
  display: inline-flex;
  place-items: center;
  place-content: center;
  text-decoration: none;
  font-weight: 800;
  margin-bottom: 12px;
  margin-right: 12px;
  user-select: none;
  background-color: var(--accent);
  color: white;
  font-family: "Inter";
  cursor: pointer;

  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.05);
  transition: transform 200ms, color 200ms, background-color 200ms, box-shadow 200ms;
}

main.container:not(.running) span:hover {
  transform: translateY(-2px);
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.05), 0 2px 10px rgba(0, 0, 0, 0.05);
}

main.container textarea {
  margin-top: 32px;
  width: 600px;
  height: 300px;
  resize: none;
  outline: none;
  border-radius: 16px;
  padding: 16px;
  font-family: "Fira Mono", monospace;
}

main.container span.running {
  background: white;
  color: var(--text);
  cursor: default;
}

main.container>div {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  place-content: center;
  margin-top: 16px;
  gap: 16px;
  max-width: 600px;
}