div.container {
  position: absolute;
  bottom: 72px;
  right: 24px;

  width: 200px;

  font-family: Inter;
  background: white;
  border-radius: 16px;
  filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.1));
}

div.container div {
  padding: 12px 16px;
  cursor: pointer;
}

div.container div:hover {
  background: var(--accent-light);
}

div.container div:first-of-type {
  border-radius: 16px 16px 0 0;
}

div.container div:last-of-type {
  border-radius: 0 0 16px 16px;
}

div.selected {
  background: var(--accent) !important;
  color: white;
  cursor: default !important;
}