.loaderContainer {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: var(--accent);
  border-radius: 16px;
  padding: 8px;
  box-sizing: content-box;
  filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.02));
  transform: scale(1);
  transition: transform 150ms;
}

.loader {
  width: 32px;
  height: 32px;
  border: 2px solid white;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}