.editor {
  width: 100%;
  height: 100%;
  margin: 0;
  white-space: pre;
  float: left;

  font-family: "Fira Mono", monospace;
  font-size: 16px;
  outline: none;
  border: none;
  resize: none;

  padding: 16px;
  border-radius: 16px;
  filter: drop-shadow(0 0 16px rgba(0, 0, 0, 0.02));
  background-color: white;
}

.editor>textarea,
.editor>pre {
  outline: none;
  white-space: pre !important;
}

.editorScrollable {
  min-width: 100%;
  min-height: 100%;
  width: unset !important;
  height: unset !important;
}